#container-nav {
    display: flex;
    background-color: #0f0f10;
    color: white;
    width: 100%;
    height: 5rem;
    justify-content: center;
    align-items: center;
    
}
#container-nav2 {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#logo-nav{
    padding-left:10px;
    display: flex;
    gap: 1rem;
    font-size: 10px;
    align-items: center;
}

#menu {
    display: flex;
    list-style: none;
    gap: 1rem;
}

#nav-emoji {
    display: flex;
    flex-wrap: nowrap;
    gap: 2rem;
    padding-right: 2rem;
    align-items: center;

}
ul > li a:hover{

    border-bottom: 2px solid grey;
    overflow: hidden;
}


@media (max-width: 768px){
    #nome {
        display: none;
    }
    #container-nav {
        justify-content: center;
    }
    #container-nav2 {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    #menu {
        
        font-size: 10px;
        padding-left: 15px;
        
    }
    #nav-emoji {
        justify-content: center;
        gap: 1rem;
    }
   
    
}