@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Mono', monospace;
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
  color: inherit;
  
}
.App{
  height: 100vh;
  margin-top: 10px;

}